<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Prüfungen</title>
</head>
<body class="d-flex justify-content-center align-items-center min-vh-100">

{% if user.is_authenticated %}
    <div class="container text-center">
        <div class="mb-3">
            <form action="" method="post">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit" name="logout">Abmelden</button>
            </form>
        </div>
        <div class="mb-4">
            <h1>Hallo Fahrlehrer, {{ user.username }}</h1>
            <h3>Anzahl der Prüfungen für diese Woche:</h3>
            <div>
                <a href="">Zu der Aktuellen Prüfung für diese Woche</a>
            </div>
            <div class="col-12" style="display: flex; color: crimson; font-weight: bolder">
                {{ prftexterr }}
                <div class="col-md-2">
                {% if prftexterr %}
                    <div>
                        <a href="tel:+4917642933195"></a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                        </svg>
                    </div>
                {% endif %}
               </div>     
            </div>
        </div>
        <div class="mb-4">
            <div class="table-responsive">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Datum am um Beginn um</th>
                            <th scope="col">Freie Prüfungen</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in pruefung %}
                        <tr>
                            <td>{{ item.date }}, {{ item.uhrzeit }}</td>
                            <td>{{ item.text_event }}</td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-center mb-4">
            <form id="form" method="POST" class="col-12 col-md-8">
                {% csrf_token %}
                 <div class="row mb-3">
                    <div class="col-11">
                        <label for="name" class="form-label">Fahrlehrer</label>
                        {{ form.fl }}
                </div>
                     
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="name" class="form-label">Name</label>
                        {{ form.name }}
                    </div>
                    <div class="col-md-6">
                        <label for="prüfungsdatum" class="form-label">Prüfungsdatum</label>
                        {{ form.prüfungsdatum }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <label for="bezahlt" class="form-label">Bezahlt</label>
                        {{ form.bezahlt }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary" name="anmelden">Anmelden</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% else %}
    <div class="container text-center">
        <h1>Kein Zugriff oder bist Abgemeldet</h1>
        <a href="/">Zurück zum Login</a>
    </div>
{% endif %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
